// Flex Utility Classes for Easy Reuse

// Flex container
.flex-container {
    display: flex;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  // Flex alignment
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // Justify content types
  .justify-center {
    justify-content: center;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  // Align items types
  .align-center {
    align-items: center;
  }
  
  .align-start {
    align-items: flex-start;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  // Align self types
  .align-self-center {
    align-self: center;
  }
  
  .align-self-start {
    align-self: flex-start;
  }
  
  .align-self-end {
    align-self: flex-end;
  }

  .float-right{
    float:right;
  }
  